* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*base*/

body {
    background: #2a2b2b;
    font-family: sans-serif;
    color: white;

}
.container {
    margin-left: 10px;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
    
}
.logo{
  color: white;
  padding: 10px;
  font-family: 'Orelega One', cursive;
  font-weight: bolder;
  font-size: 1.2rem;
}

.logo span{
    color: #34ebb4;
}

.search-bar input{
    margin-left: 8px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50) .100%);
    border: 1px solid transparent;
    height: 1.6rem;
    padding-left: 4px;
    opacity: 0.8;
    color: white;
    width: 15rem;
}

header nav a{
    text-decoration: none;
    color:white;
    margin-right: 10px;
    font-family: 'Orelega One', cursive;
}

header nav a:hover{
    color: #34ebb4;
}

/* Filme principal */

.main-movie .container{
    width: 70%;
   
}

.main-movie {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(25, 25, 24, 0.5) .100%), url("owl/capa.jpg");
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

.sinopse{
    margin-bottom: 20px;
    margin-top: 10px;
    width: 80%;
    text-align: justify;
   
}

.titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: 1px solid transparent;
    color: #34ebb4   ;
    border-radius: 5%;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    
    cursor: pointer;
    transition: 0.6s ease all;
    text-decoration: none;
}

.botao:hover{
    background-color: white;
    color: #34ebb4;
    opacity: 0.9;
}

.botao i{
    margin-right: 8px;
}

.carrosel-filmes {
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(25, 25, 24, 0.5) .100%);
    opacity: 0.8;
}

.carrosel-filmes h2 {
    margin-bottom: 3px;
    text-align: center;
    font-size: 1.2em;
    opacity: 0.8;
}

.footer{
    padding: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(25, 25, 24, 0.5) .80%);
    text-align: center;
}


